[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/Gexi0619/hugo-theme-terminal.git
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
[submodule "themes/hugo-texify2"]
	path = themes/hugo-texify2
	url = https://github.com/weastur/hugo-texify2.git
[submodule "themes/themes/smigle"]
	path = themes/themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://gitlab.com/jmfergeau/hugo.386
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/xmag"]
	path = themes/xmag
	url = https://github.com/yihui/hugo-xmag.git
